
<link rel="stylesheet" href="style.css">

header{

}

.main{background-color: beige;
height:300px
}
.topNavBarli {
    display:inline; 
    padding: 10px;
    margin:10px; 
    color:white;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.topNavBar{
    padding: 10px;
    text-align: right;
}

.topNavbar{
    color:brown
}
.maingird{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.twoBox{
    background-color: brown;
    padding:10px;
    color:bisque;
    font-size:30;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:grid;
}