
<link rel="stylesheet" href="style.css">

header{

}

.main{background-color: beige;
height:300px
}
.topNavBarli {
    display:inline; 
    padding: 10px;
    margin:10px; 
    color:white;
    font-size: 20px;
    font-family
}

.topNavBar{
    padding: 10px;
    text-align: right;
}

topNavbar{
    color:brown
}
.maingird{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px:
}